
<table class="table table-striped">
    
    <thead>
      <tr>
        <th scope="col">id livre</th>
        <th scope="col">Nom du livre</th>
        <th scope="col">Auteur</th>
        <th scope="col">date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Livre 1</td>
        <td>Livre 2</td>
        <td>Livre 3</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Livre4</td>
        <td>Livre5</td>
        <td>Livre5</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>livre</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <li class="nav-item">
    <a href="pages/forms/validation.html" class="nav-link">
      <i class="far fa-circle nav-icon"></i>
      <p>Validation</p>
    </a>
  </li>


