<ul class="widget widget-menu unstyled">

</ul>

<!--/.sidebar-->
<!--/.span3-->
<!--/.span9-->
<div class="span9">
<div class="content">

<div class="module">
<div class="module-head">
    <h3>Ajouter de livre</h3>
</div>
<div class="module-body">

        
        <br >

        <form class="form-horizontal row-fluid" action="addbook.php" method="post">
            <div class="control-group">
                <label class="control-label" for="Title"><b>Ajouter livre</b></label>
                <div class="controls">
                    <input type="text" id="title" name="title" placeholder="Title" class="span8" required>
                </div>
            </div>
           
            <div class="control-group">
                <label class="control-label" for="Editeur"><b>Editeur</b></label>
                <div class="controls">
                    <input type="text" id="publisher" name="publisher" placeholder="Publisher" class="span8" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Year"><b>Année</b></label>
                <div class="controls">
                    <input type="text" id="year" name="year" placeholder="Année" class="span8" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Availability"><b>Nombre de copies</b></label>
                <div class="controls">
                    <input type="text" id="availability" name="availability" placeholder="Number of Copies" class="span8" required>
                </div>
            </div>
            

            <div class="control-group">
                <div class="controls">
                    <button type="" name="submit"class="btn" style="color: chocolate;">Ajouter</button>
                </div>
            </div>
        </form>
</div>
</div>
