

  
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>150</h3>

                <p>Statistique generale</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">Voir plus <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-bg-light">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Nombre d'utilisteurs</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">Voir plus <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>44</h3>

                <p>Nombre de visiteurs</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">Plus d'infos <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
         
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
           <!-- /.card-body -->
           
            <!-- /.card -->

            <!-- DIRECT CHAT -->
           
              <!-- /.card-body -->
              
            <!-- Map card -->
            
                <!-- /.card-tools -->
             
              <!-- /.card-body-->
             
                 
                <!-- /.row -->
             
            <!-- /.card -->

            <!-- solid sales graph -->
            
              <!-- /.card-body -->
             
                  <!-- ./col -->
                 
            <!-- /.card -->

            <!-- Calendar -->
           
                <!-- /. tools -->
            
              <!-- /.card-header -->
           


<p>accueil works!</p>
